



	<%= bootstrap_form_tag(:url => ('registered_user'.eql?(resource_name.to_s) ? '' :'/auth/expressov3/callback'), :html => {:class => 'form-signin'}) do |f| %>
	<h2 class="form-signin-heading">Feedback para Aplicações Web</h2>
	<hr style="height:1px"/>
	<%= resource_name %>
	<%= 'registered_user'.eql?(resource_name.to_s) %>
	<%= bootstrap_flash %>
	  <%= f.text_field :username, :placeholder => 'Login/CPF', :class =>  'sr-only', :required => true %>
	  <%= f.password_field :password, :placeholder => 'Senha', :class =>  'sr-only', :required => true %>


			<%= f.submit t('.sign_in', :default => "Sign in"), :class => "btn btn-lg btn-primary btn-block" %>

			<hr style="height:1px"/>
			<%= render "devise/shared/links" %>
	<% end %>
	<div class="logo_serpro_50_anos"></div>
