<%= bootstrap_form_for feedback, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8", url: feedback_url(feedback), remote: true,  method: 'put' do |f|  %>
  <% feedback.feedback_form.detail_checked_columns.each do |column| %>
    <label class="col-sm-4 control-label"><%= column.display_label %></label>
    <div class="col-sm-8">
      <div class="form-control-static">
        <%= show_column_value(feedback, column.name) %>
      </div>
    </div>
    <% if column.name.eql?(feedback.feedback_form.state_field)  %>
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
      <%= render partial: 'workflow_actions', locals: {feedback: feedback} %>
      </div>
      <div class='clearfix'></div>
      <hr /  >
    <% end %>
  <% end %>
  <%= render partial: 'feedback_assignee', locals: { f: f, feedback: feedback } %>
<% end %>
