<h1><%= translate('Feedbacks for application') %> <%= @user_application.name %></h1>

<table id="feedbacks" style="width:100%" data-source="<%= user_application_feedbacks_url(:id=> params[:id], format: "json") %>">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tipo Relato</th>
      <th>Data</th>
      <th>Texto</th>
      <th>Captura de Tela</th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <% feedback.columns.each do |c| %>
          <%= c[:key] %> => <%= c[:value] %><br/>
        <% end %>

        <td><%= feedback.view_id %></td>
        <td><%= feedback.tipo_relato %></td>
        <td><%= feedback.server_date_time %></td>
        <td><%= feedback.text %></td>
        <td><img src='/<%= url_for(feedback.screenshot_path) %>'/></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr />
<%= link_to translate('Return'), user_applications_url %>
