<%= content_for :head do %>
  <link href="/highlight/styles/atelier-lakeside.light.css" rel="stylesheet" />
  <style type="text/css">
  pre {
    border:none;
  }
  </style>
<% end %>
<hr/>
  <p>Incluir o código abaixo nas páginas da aplicação <strong><%= @user_application.name %></strong></p>
  <pre>
    <code class="xhtml">
<%= render_js_include() %>
&lt;script type=text/javascript&gt;
<%= render_code(@user_application) %>
&lt;/script&gt;</code>
    <!-- <code class="language-javascript"><%#= render_code(@user_application) %></code> -->
  </pre>
<%= content_for :body_end do %>
  <script src="/highlight/highlight.pack.js"></script>
  <script type="text/javascript">
    function loadHighlights(){
        $('pre code').each(function(i, e) {
          try { hljs.highlightBlock(e); } catch(e) {}
        });
    }

    jQuery(document).on('ready page:load', loadHighlights);
  </script>
<% end %>
