<%= content_for :head do %>
  <!-- <link href="/prism/prism.css" rel="stylesheet" />-->
  <link href="/highlight/styles/googlecode.css" rel="stylesheet" />
  <style type="text/css">
  pre {
    font-size:10px;
  }
  </style>
<% end %>
<hr/>
  <p>Incluir o código abaixo nas páginas da aplicação <strong><%= @user_application.name %></strong></p>
  <pre>
    <code class="xhtml">
<%= render_js_include() %>
&lt;script type=text/javascript&gt;
<%= render_code(@user_application) %>
&lt;/script&gt;</code>
    <!-- <code class="language-javascript"><%#= render_code(@user_application) %></code> -->
  </pre>
<%= content_for :body_end do %>
  <!-- <script src="/prism/prism.js"></script> -->
  <script src="/highlight/highlight.pack.js"></script>
  <script type="text/javascript">   
   jQuery(document).on('page:load', function(){
       jQuery('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
      });
    });
  </script>
<% end %>
