<h1><%= translate('My applications') %></h1>



<%= form_for @user_application do |f| %>
  <%= f.label 'name' %>
  <%= f.text_field 'name', :autofocus => 'true' %>
  <%= f.button translate('Submit'), :class => 'button small alternative' %>
<% end %>


<div class="row">
  <div class="large-4 columns">
    <h5>Adicionar Usuários</h5>
    <%= form_tag( url_for(add_members_for_user_application_path), remote: true, :id => 'form_members') do %>
      <%= hidden_field_tag :team_members_ids, "",
      data: {
        placeholder: "Selecione os membros de sua equipe:",
        #@user_application.team_members.to_json :each_serializer UserAutocompleteSerializer
        saved: '[]',
        url: members_for_user_application_path},
        class: "autocomplete",
          style: "width:100%"
          %>
      <% end %>
  </div>
  <div class="large-8 columns">
    <h5>Usuários com acesso</h5>
    <div id='members_list'>
    <%= render :partial => 'members_list', :locals => {:members => @user_application.members} %>
    </div>
  </div>
</div>

<h5>Convidar</h5>
<p>Em breve será possível enviar convite por email!</p>


<script type="text/javascript">
function configurarAutocomplete() {
  $('#invite_members_emails').each(function(){
    //tags: true,
    //tokenSeparators: [',', ' '],
  });
  $('#team_members_ids').each(function() {
    var url = $(this).data('url');
    var placeholder = $(this).data('placeholder');
    var saved = <%= raw @user_application.members_user_names.as_json %> ;
    $(this).select2({
      minimumInputLength: 2,
      multiple: true,
      placeholder : placeholder,
      allowClear: true,
      ajax: {
        url: url,
        dataType: 'json',
        quietMillis: 500,
        data: function (term) {
          return {
            username: term
          };
        },
        results: function (data) {
          return {results: data};
        }
      },

      formatResult: function (item, page) {
        return item.username;
      },

      formatSelection: function (item, page) {
        return item.username;
      },

      initSelection : function (element, callback) {
        if (saved) {
          callback(saved);
        }
      }

    }).on('change', function() {
                      if($(this).val() !== '') {
                        $('#form_members').submit();
                    }
    });
  });
}
jQuery(document).on('ready page:load', configurarAutocomplete());

</script>
