<h1><%= translate('My applications') %></h1>

<% if @user_applications.empty? %>

<p> translate("You don't have any application registered yet")</p>

<% else  %>
<table>
  <tr>
    <th><%= translate('Name') %></th>
    <th><%= translate('Token') %></th>
    <th><%= translate('Actions') %></th>
  <tr>
  <% @user_applications.each do  |user_application | %>
  <tr>
    <td><%= link_to user_application.name, user_application_path(user_application) %></td>
    <td><%= user_application.authentication_token %></td>
    <td>
      <%= link_to(
        content_tag(:span, pad(translate('Edit')), class: 'fa fa-edit'),
        edit_user_application_path(user_application), :class=> 'action')%>
      <%= link_to(
        content_tag(:span, pad(translate('Destroy')), :class => 'fa fa-trash-o'),
        user_application_path(user_application), :method=> 'DELETE', :data => {:confirm => translate('Are you sure')}) %>
      <%= link_to(
          content_tag(:span, pad(translate('Feedbacks')) + " ", :class => 'fa fa-comment-o'),
          user_application_feedbacks_path(user_application))%>
    </td>
  </tr>
  <% end %>
</table>

<% end %>

<%= link_to translate('Create new application'), new_user_application_path, :class => 'btn btn-default' %>
