<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <%= @user_application.name %>
        </h1>
        <!-- <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol> -->
    </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title"><%= t('Application Info') %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-8">
        <%= bootstrap_form_tag do |f| %>
        <div class="form-group">
          <label>Nome:</label> <%= @user_application.name %>
        </div>
        <div class="form-group">
           <%= link_to_if(
            @user_application.owner.id.eql?(current_user.id),
            content_tag(:span, pad(translate('Edit')), class: 'fa fa-edit'),
            edit_user_application_path(@user_application), :class=> 'action') do
            end
            %>
        </div>
        <% end %>
      </div>
      <div class="col-lg-4">
        <%= link_to(
            content_tag(:span, pad(translate('Feedbacks')) + " ", :class => 'fa fa-comment-o'),
            user_application_feedbacks_path(@user_application))%>
      </div>
    </div>

    <%= render :partial => 'members_edit' if  current_user_can?(:admin_team_members, @user_application)%>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title"><%= t('Feedback Javascript Source') %></h3>
  </div>
  <div class="panel-body">
    <%= render :partial => 'feedback_js_viewer' %>
  </div>
</div>



<%= link_to t('view feedbacks'), user_application_feedbacks_path(@user_application) %>
