<h4>Dados da Aplicação</h4>
<div class="row">
  <div class="large-9 columns">
    <strong>Nome:</strong><span><%= @user_application.name %> <%= link_to_if(
      @user_application.owner.id.eql?(current_user.id),
      content_tag(:span, pad(translate('Edit')), class: 'fa fa-edit'),
      edit_user_application_path(@user_application), :class=> 'action') do
      end
      %>
    </span>
  </div>
  <div class="large-3 columns">
    <%= link_to(
        content_tag(:span, pad(translate('Feedbacks')) + " ", :class => 'fa fa-comment-o'),
        user_application_feedbacks_path(@user_application))%>
  </div>
</div>

<%= render :partial => 'members_edit' if  current_user_can?(:admin_team_members, @user_application)%>

<hr/>
<h4>Código do Feedback</h4>

<%= render :partial => 'feedback_js_viewer' %>

<%= link_to t('view feedbacks'), user_application_feedbacks_path(@user_application) %>
