<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <%= @feedback_target.name %>
        </h1>
        <!-- <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol> -->
    </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title"><%= t('Application Info') %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-8">
        <%= bootstrap_form_tag do |f| %>
        <div class="form-group">
          <label>Nome:</label> <%= @feedback_target.name %>
        </div>
        <div class="form-group">
           <%= link_to_if(
            @feedback_target.owner.id.eql?(current_user.id),
            content_tag(:span, pad(translate('Edit')), class: 'fa fa-edit'),
            edit_feedback_target_path(@feedback_target), :class=> 'action') do
            end
            %>
        </div>
        <% end %>
      </div>

    </div>

  </div>
</div>

<%= render partial: 'feedback_forms/index/panel' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('feedback_target.panel_title.members') %></h3>
  </div>
  <div class="panel-body">
    <%= render :partial => 'members_edit' if  current_user_can?(:admin_team_members, @feedback_target)%>
  </div>
</div>

<!-- <div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title"><%= t('Feedback Javascript Source') %></h3>
  </div>
  <div class="panel-body"> -->
    <%#= render :partial => 'feedback_js_viewer' %>
  <!-- </div>
</div> -->



<%#= link_to t('view feedbacks'), feedback_target_feedbacks_path(@feedback_target) %>
